*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  margin:0 auto;
  font-size: 16px;
  font-family: 'Roboto', Helvetica, sans-serif;
  height:100%;
}

.container{
  display:grid;
  grid-template-columns: 1fr 4fr;
}

.sidebar{
  background-color: rgb(0, 191, 255);
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding: 20px;
  color:white;
  font-weight: bold;
}
.sidebar-title{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

.sidebar-title img{
  height: 50px;
}



.menu-items ul > li > img{
  height: 30px;
}

.menu-items > ul > li{
  display:flex;
  align-items: center;
  gap: 20px;
}

.menu-items ul{
  list-style:none;
  line-height: 3rem;
}

.menu-items:last-child ul{
  margin-top: 40px;
}

.filter-white{
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(52deg) brightness(106%) contrast(103%);
}


.header{
  grid-column: 2 / 4;
  background-color: white;
  box-shadow: 5px  0 10px black;
  z-index: 1;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.upper-header,
.lower-header{
  padding: 0 30px;
}

.upper-header{
  display: flex;
  align-items:center;
  margin-bottom: 20px;
}

.account-menu{
  margin-left: auto;
  display:flex;
  align-items:center;
  gap: 10px;
}

.account-menu img{
  height:20px;
}

.account-menu img:nth-child(2){
  height: 30px;
}

.search{
  flex: 1 1 auto;
  padding-right: 200px;
}

.search-form{
  display:flex;
  align-items:center;
  gap: 10px;
}

.search-form input:last-child{
  border-radius: 20px;
  border:none;
  background-color: rgb(231, 231, 231);
  flex: 1 1 auto;
  padding: 5px 20px;
}

.search-button{
  height: 20px;
}

.lower-header{
  display:flex;
  align-items: center;
}

.buttons{
  margin-left: auto;
  display:flex;
  gap: 20px;
}

.buttons button{
  color:white;
  background-color: rgb(0, 191, 255);
  padding: 10px 25px;
  border:none;
  font-weight:bold;
  border-radius: 20px;
}
.account-details{
  display:flex;
  align-items: center;
  gap: 10px;
}

.account-picture img{
  height: 50px;
}

.main-content{
  padding: 30px;
  background-color: rgb(231, 231, 231);
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  display:grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  /* border: 2px solid black; */
}

.main-content > div > h1,
.announcement > h1 ,
.trending > h1{
  margin-bottom: 10px;
  font-size: 1.5rem;
}


.cards{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.card{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
}

.project-information{
  /* border: 2px solid black; */
  margin: 0 0 30px 0;
}


.project-information h1{
  font-size: 1.5rem;
  line-height: 2rem;
}

.project-information p{
  font-weight: 300;
}

.card-action-icons{
  justify-self: flex-end;
  margin-left:auto;
}

.card-action-icons img{
  height: 30px;
}

.news-section{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
}

.announcement-card,
.profiles{
  background-color:white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.announcement-card  h1{
  font-size: 1.2rem;
}


.announcement-information{
  padding: 10px;
  margin: 0 10px;
}

.announcement-information:nth-child(2n){
  border-top: 1px solid gray;
  border-bottom:1px solid gray;
}

.profile{
  display:flex;
  flex-direction: row;
  margin: 10px ;
  gap: 10px;
  align-items: center;
}

.profile-picture img{
  height: 45px;
}

.profile-details p{
  font-weight: 700;
  line-height: 1.5rem;
}

.profile-details > p + p{
  /* font-size: 1rem; */
  font-weight: 300;
}